<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

	<!--angular js-->
	<script src="../plugins/angularjs/angular.min.js"></script>
	<script src="../plugins/angularjs/pagination.js"></script>
	<link href="../plugins/angularjs/pagination.css">
	<script src="../js/angularjs/base_pagination.js"></script>
	<script src="../js/service/goodsService.js"></script>
	<script src="../js/service/itemCatService.js"></script>
	<script src="../js/controller/baseController.js"></script>
	<script src="../js/controller/goodsController.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou" ng-controller="goodsController" ng-init="searchEntity={auditStatus:'0'};findItemCatList()">
  <!-- .box-body -->
                
                    <div class="box-header with-border">
                        <h3 class="box-title">商品审核</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="删除" ng-click="dele()" ><i class="fa fa-trash-o"></i> 删除</button>
                                        <button type="button" class="btn btn-default" title="审核通过" ng-click="updateStatus('1')"><i class="fa fa-check"></i> 审核通过</button>
                                        <button type="button" class="btn btn-default" title="驳回" ng-click="updateStatus('2')"><i class="fa fa-ban"></i> 驳回</button>
                                        <button type="button" class="btn btn-default" title="刷新" ng-click="reloadList()" ><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
                                    商品名称：<input >
									<button class="btn btn-default" >查询</button>                                    
                                </div>
                            </div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue">
			                              </th> 
										  <th class="sorting_asc">商品ID</th>
									      <th class="sorting">商品名称</th>
									      <th class="sorting">商品价格</th>
									      <th class="sorting">一级分类</th>
									      <th class="sorting">二级分类</th>
									      <th class="sorting">三级分类</th>
									      <th class="sorting">状态</th>									     						
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr ng-repeat="entity in list">
			                              <td><input type="checkbox" ng-click="updateSelection($event,entity.id)"></td>
				                          <td>{{entity.id}}</td>
									      <td>{{entity.goodsName}}</td>
									      <td>{{entity.price}}</td>
									      <td>{{itemCatList[entity.category1Id]}}</td>
									      <td>{{itemCatList[entity.category2Id]}}</td>
									      <td>{{itemCatList[entity.category3Id]}}</td>
		                                  <td>		                                  
		                                  	<span>
		                                  		{{status[entity.auditStatus]}}
		                                  	</span>
		                                  	
		                                  </td>		                                  
		                                  <td class="text-center">                                          
		                                 	  <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#goodsModal" ng-click="findOne(entity.id)">详情</button>
		                                  </td>
			                          </tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->                        
							  <tm-pagination conf="paginationConf"></tm-pagination>
							{{list}}
							 
                        </div>
                        <!-- 数据表格 /-->
                        
                        
                     </div>
                    <!-- /.box-body -->

  <!-- 商品详情 -->
  <div class="modal fade" id="goodsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" >
		  <div class="modal-content">
			  <div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				  <h3 id="myModalLabel">商品详情</h3>
			  </div>
			  <div class="modal-body">

				  <ul class="nav nav-tabs">
					  <li class="active"><a href="#home" data-toggle="tab">商品基本信息</a></li>
					  <li><a href="#picture" data-toggle="tab">商品图片</a></li>
					  <li><a href="#extend" data-toggle="tab">扩展属性</a></li>
					  <li><a href="#specification" data-toggle="tab">规格</a></li>
				  </ul>

				  <!-- 选项卡开始 -->
				  <div id="myTabContent" class="tab-content">
					  <div class="tab-pane active in" id="home">
						  <br>
						  <table class="table table-bordered table-striped"  width="800px">
							  <tr>
								  <td>商品名称</td>
								  <td>{{entity.goods.goodsName}}</td>
							  </tr>
							  <tr>
								  <td>品牌</td>
								  <td>{{entity.goods.brandId}}</td>
							  </tr>
							  <tr>
								  <td>副标题</td>
								  <td>{{entity.goods.caption}}</td>
							  </tr>
							  <tr>
								  <td>商品介绍</td>
								  <td>{{entity.goodsDesc.introduction}}</td>
							  </tr>
						  </table>
					  </div>
					  <div class="tab-pane fade" id="picture">
						  <br>
						  <table class="table table-bordered table-striped" >
							  <thead>
								  <td>颜色</td>
								  <td>图片</td>
							  </thead>
							  <tr ng-repeat="pojo in entity.goodsDesc.itemImages">
								  <td>{{pojo.color}}</td>
								  <td><img src="{{pojo.url}}"></td>
							  </tr>
						  </table>
					  </div>
					  <div class="tab-pane fade" id="extend">
						  <br>
						  <table class="table table-bordered table-striped" >
							  <div class="row data-type" ng-repeat="pojo in entity.goodsDesc.customAttributeItems">
								  <div>
									  <div class="col-md-2 title">{{pojo.text}}</div>
									  <div class="col-md-10 data">
										  {{pojo.value}}
									  </div>
								  </div>

							  </div>
						  </table>
					  </div>
					  <div class="tab-pane fade" id="specification">
						  <br>
						  <div class="row data-type">
							  <div class="col-md-2 title">是否启用规格</div>
							  <div class="col-md-10 data">
								  {{null!=entity.goods.isEnableSpec?'启用':'不启用'}}
							  </div>
						  </div>
						  <p>
							  <div class="row data-type">
								  <table class="table table-bordered table-striped table-hover dataTable">
									  <thead>
									  <tr>
										  <th class="sorting" ng-repeat="item in entity.goodsDesc.specificationItems">{{item.attributeName}}</th>

										  <th class="sorting">价格</th>
										  <th class="sorting">库存</th>

									  </tr>
									  </thead>
									  <tbody>
									  <tr ng-repeat="pojo in entity.itemList">
										  <td ng-repeat="item in entity.goodsDesc.specificationItems">
											  {{pojo.spec[item.attributeName]}}
										  </td>

										  <td>
											  {{pojo.price}}
										  </td>
										  <td>
											  {{pojo.num}}
										  </td>
									  </tr>

									  </tbody>
								  </table>

							  </div>

						  </div>
					  </div>
				  </div>
				  <!-- 选项卡结束 -->
		  </div>
		  </div>
	  </div>
  </div>

</body>

</html>